.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a{
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}
.NavigationItem a::after{ 
        display:block;
        content: '';
        border-bottom: solid 3px #019fb6;  
        transform: scaleX(0);  
        transition: transform 0.5s ease-in-out;
        margin-top: 14px;
      
}


.NavigationItem a:hover::after{
    transform: scaleX(1.1);
}

.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #8f5c2c;
    color: #fff;
    border-bottom: solid 4px #019fb6;


}
/* media queries */
@media (max-width:500px){
    .NavigationItem{
        margin: 10px 0;
        flex-flow: column;
        display: block;
        width: 100%;
    }
    
    .NavigationItem a{
        color: #8f5c2c;
        height: 100%;
        box-sizing: border-box;
        display: block;
        border-bottom: none;
    
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        color:#40a4c8;
        border-bottom: none;
        background: none;


    }
    
}


